services:
  itko:
    build:
      context: .
      dockerfile: Dockerfile
    image: colinstubbs/itko:latest
    restart: unless-stopped
    environment:
      # Optional: Timezone
      #- TZ=${TZ:-UTC}
      # Debug mode, set to true to enable more verbose output from the entrypoint script.
      #- DEBUG=${DEBUG:-}
      # set to true to load test certs from testdata/
      - LOAD_TEST_DATA=${LOAD_TEST_DATA:-false}
      # set to 1+ to load generated certificates from testdata/generated/compact.chains.ndjson if it exists, requires LOAD_TEST_DATA to be true.
      - LOAD_GENERATED_CERTS=${LOAD_GENERATED_CERTS:-}
      # set to 1+ to auto-generate certificates, NOTE: this is dependent upon LOAD_TEST_DATA being true and will not occur if LOAD_TEST_DATA is false.
      - GEN_TEST_CERTS=${GEN_TEST_CERTS:-}
      # Location for generated certs are stored in an NDJSON file. Can be relative if the container will generate it itself using the generate.sh script and LOAD_TEST_DATA is true and GEN_TEST_CERTS is set to 1+.
      # An NDJSON file is used to support very large numbers of certs/chains, e.g 1,000,000+ without the performance impact and inode related limitations that may be present for most file systems.
      # If you've already generated it once (which is recommended as 1,000,000+ certs will take a long time), and want it in a non-default location (for example via volume file mount) simply adjust this variable
      # NOTE: LOAD_TEST_DATA must still be true, and LOAD_GENERATED_CERTS must still be set to 1+ to add any cert chains from this file to the CT log.
      # NOTE: You only need to load test data like this ONCE provided you establish persistent storage for ${ITKO_ROOT_DIRECTORY}. If you're dealing with a large number of certs/chains you will only want to load once.
      - CERT_CHAINS_NDJSON=${CERT_CHAINS_NDJSON:-compact.chains.ndjson}
      # Consul configuration, refer to /usr/local/bin/consul-entrypoint.sh or https://hub.docker.com/_/consul/
      - CONSUL_BIND_ADDRESS=${CONSUL_BIND_ADDRESS:-127.0.0.1}
      - CONSUL_BIND_INTERFACE=${CONSUL_BIND_INTERFACE:-lo}
      - CONSUL_CLIENT_ADDRESS=${CONSUL_CLIENT_ADDRESS:-127.0.0.1}
      - CONSUL_CLIENT_INTERFACE=${CONSUL_CLIENT_INTERFACE:-lo}
      - CONSUL_LOCAL_CONFIG=${CONSUL_LOCAL_CONFIG:-{"datacenter":"dev","server":true,"enable_debug":false}}      
      # Itko configuration, refer to itko-entrypoint.sh
      - ITKO_KV_PATH=${ITKO_KV_PATH:-itko}
      - ITKO_ROOT_DIRECTORY=${ITKO_ROOT_DIRECTORY:-/itko/ct/storage}
      - ITKO_KEY_PATH=${ITKO_KEY_PATH:-/itko/testdata/ct-http-server.privkey.plaintext.pem}
      - ITKO_LOG_NAME=${ITKO_LOG_NAME:-testlog}
      - ITKO_LOG_ID=${ITKO_LOG_ID:-lrviNpCI/wLGL5VTfK25b8cOdbP0YA7tGoQak5jST9o=}
      - ITKO_LOG_PUBLIC_KEY=${ITKO_LOG_PUBLIC_KEY:-MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEB/hRr6qMVoOQMbeA49Ya9y82BnHs3Tu+fjZvDRwcYAt/9Z//5SRJNFbySxBfvwgf+Q7PNbWKioswClS3vx1NuQ==}
      - ITKO_LOG_SUBMISSION_URL=${ITKO_LOG_SUBMISSION_URL:-http://localhost/}
      - ITKO_LOG_MONITORING_URL=${ITKO_LOG_MONITORING_URL:-http://localhost/}
      - ITKO_MASK_SIZE=${ITKO_MASK_SIZE:-5}
      - ITKO_FLUSH_MS=${ITKO_FLUSH_MS:-50}
      - ITKO_SUBMIT_LISTEN_ADDRESS=${ITKO_SUBMIT_LISTEN_ADDRESS:-0.0.0.0}
      - ITKO_SUBMIT_LISTEN_PORT=${ITKO_SUBMIT_LISTEN_PORT:-3030}
      - ITKO_MONITOR_LISTEN_ADDRESS=${ITKO_MONITOR_LISTEN_ADDRESS:-0.0.0.0}
      - ITKO_MONITOR_LISTEN_PORT=${ITKO_MONITOR_LISTEN_PORT:-3031}
    ports:
      - "3030:3030" # Itko submission API
      - "3031:3031" # Itko monitoring API
    volumes:
      - ./example/supervisor.d:/etc/supervisor.d
      - ./itko-entrypoint.sh:/usr/local/bin/itko-entrypoint.sh
      # stores ct log content, e.g. static tiles etc to be served by caddy]\
      - ctlog_data:/itko/ct/storage
      # custom test data and/or custom generated script/content
      #- ./integration/testdata:/itko/testdata
      # custom consul config/data if desired
      #- ./consul/config:/consul/config
      #- ./consul/data:/consul/data
      # persistent logs if desired
      #- ./logs:/var/log
      #- logs:/var/log

  # caddy is used to front the Itko components and serve static tiles and other file based content.
  # It also performs rate limiting. 10 requests per second by default, good to have to for realistic dev/testing purposes
  # It also blocks access to the /int/ path. Because reasons but mostly examples.
  caddy:
    image: colinstubbs/caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ctlog_data:/usr/share/caddy
      - ./example/Caddyfile:/etc/caddy/Caddyfile
      # persistent logs if desired
      #- ./logs:/var/log
      #- logs:/var/log
    depends_on:
      itko:
        condition: service_healthy

volumes:
  ctlog_data:
# other volume mounts if desired
#  logs:
#  consul_config:
#  consul_data:
