services:
  itko:
    build:
      context: .
      dockerfile: Dockerfile
    image: colinstubbs/itko:latest
    restart: unless-stopped
    environment:
      # Optional: Timezone
      - TZ=${TZ:-UTC}
      # Debug mode, set to true to enable more verbose output from the entrypoint script.
      - DEBUG=${DEBUG:-}
      # Consul configuration, refer to /usr/local/bin/consul-entrypoint.sh or https://hub.docker.com/_/consul/
      - CONSUL_BIND_ADDRESS=${CONSUL_BIND_ADDRESS:-127.0.0.1}
      - CONSUL_BIND_INTERFACE=${CONSUL_BIND_INTERFACE:-lo}
      - CONSUL_CLIENT_ADDRESS=${CONSUL_CLIENT_ADDRESS:-127.0.0.1}
      - CONSUL_CLIENT_INTERFACE=${CONSUL_CLIENT_INTERFACE:-lo}
      - CONSUL_LOCAL_CONFIG=${CONSUL_LOCAL_CONFIG:-{"datacenter":"dev","server":true,"enable_debug":false}}
      # set to true to load test certs from testdata/
      - LOAD_TEST_DATA=${LOAD_TEST_DATA:-true}
      # set to 1+ to auto-generate certificates, NOTE: this is dependent upon LOAD_TEST_DATA being true and will not occur if LOAD_TEST_DATA is false.
      - GEN_TEST_CERTS=${GEN_TEST_CERTS:-11}
      # Itko configuration, refer to itko-entrypoint.sh
      - ITKO_KV_PATH=${ITKO_KV_PATH:-itko}
      - ITKO_ROOT_DIRECTORY=${ITKO_ROOT_DIRECTORY:-/itko/ct/storage}
      - ITKO_KEY_PATH=${ITKO_KEY_PATH:-/itko/testdata/ct-http-server.privkey.plaintext.pem}
      - ITKO_LOG_NAME=${ITKO_LOG_NAME:-testlog}
      - ITKO_LOG_ID=${ITKO_LOG_ID:-lrviNpCI/wLGL5VTfK25b8cOdbP0YA7tGoQak5jST9o=}
      - ITKO_LOG_PUBLIC_KEY=${ITKO_LOG_PUBLIC_KEY:-MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEB/hRr6qMVoOQMbeA49Ya9y82BnHs3Tu+fjZvDRwcYAt/9Z//5SRJNFbySxBfvwgf+Q7PNbWKioswClS3vx1NuQ==}
      - ITKO_LOG_SUBMISSION_URL=${ITKO_LOG_SUBMISSION_URL:-http://localhost/}
      - ITKO_LOG_MONITORING_URL=${ITKO_LOG_MONITORING_URL:-http://localhost/}
      - ITKO_MASK_SIZE=${ITKO_MASK_SIZE:-5}
      - ITKO_FLUSH_MS=${ITKO_FLUSH_MS:-50}
      - ITKO_SUBMIT_LISTEN_ADDRESS=${ITKO_SUBMIT_LISTEN_ADDRESS:-0.0.0.0}
      - ITKO_SUBMIT_LISTEN_PORT=${ITKO_SUBMIT_LISTEN_PORT:-3030}
      - ITKO_MONITOR_LISTEN_ADDRESS=${ITKO_MONITOR_LISTEN_ADDRESS:-0.0.0.0}
      - ITKO_MONITOR_LISTEN_PORT=${ITKO_MONITOR_LISTEN_PORT:-3031}
    ports:
      - "3030:3030" # Itko submission API
      - "3031:3031" # Itko monitoring API
    volumes:
      - ./example/supervisor.d:/etc/supervisor.d
      - ./itko-entrypoint.sh:/usr/local/bin/itko-entrypoint.sh
      # stores ct log content, e.g. static tiles etc to be served by caddy]\
      - ctlog_data:/itko/ct/storage
      # custom test data and/or custom generated script/content
      #- ./integration/testdata:/itko/testdata
      #- ./integration/testdata/generated:/itko/testdata/generated
      # custom consul config/data if desired
      #- ./consul/config:/consul/config
      #- ./consul/data:/consul/data
      # persistent logs if desired
      #- ./logs:/var/log
      #- logs:/var/log

  # caddy is used to front the Itko components and serve static tiles and other file based content.
  # It also performs rate limiting. 10 requests per second by default, good to have to for realistic dev/testing purposes
  # It also blocks access to the /int/ path. Because reasons but mostly examples.
  caddy:
    build:
      context: ./example/caddy/
    image: colinstubbs/caddy:latest
    restart: unless-stopped
    environment:
      - CADDY_LISTEN_ADDRESS=${CADDY_LISTEN_ADDRESS:-0.0.0.0}
      - CADDY_LISTEN_PORT=${CADDY_LISTEN_PORT:-80}
      - CADDY_CONFIG_FILE=${CADDY_CONFIG_FILE:-/etc/caddy/Caddyfile}
      - CADDY_CONFIG_ADAPTER=${CADDY_CONFIG_ADAPTER:-caddyfile}
      - ITKO_LOG_NAME=${ITKO_LOG_NAME:-testlog}
    ports:
      - "80:80"
    volumes:
      - ctlog_data:/usr/share/caddy
      - ./example/caddy/Caddyfile:/etc/caddy/Caddyfile
      # persistent logs if desired
      #- ./logs:/var/log
      #- logs:/var/log
    healthcheck:
      test: wget -q -O - "http://127.0.0.1:${CADDY_LISTEN_PORT:-80}/checkpoint" | grep -E "^${ITKO_LOG_NAME:-testlog}$" 2>/dev/null || exit 1
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 5s
    depends_on:
      itko:
        condition: service_healthy

volumes:
  ctlog_data:
# other volume mounts if desired
#  logs:
#  consul_config:
#  consul_data:
